.bg {
    /* The image used */
    background-image: url("https://www.w3schools.com/howto/img_girl.jpg");

    /* Full height */
    min-height: 100vh; 
    min-width: 100%;

    margin-top: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

p {
    width: 400px;
    word-break: break-all;
    margin-top: 20px;
    font-size: 20px;
    word-spacing: 1px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}